.qrCodeStep h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--color-text);
    text-align: center;
}

.qrCodeStep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrCodeStep img {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    display: block;
    border-radius: var(--radius-default);
}

.pairingCode {
    display: flex;
    gap: 8px;
    text-align: center;
    justify-content: center;
    background-color: var(--color-background-white);
    padding: 12px 0;
    color: var(--color-text);
    border-radius: var(--radius-default);
    width: 70%;
}

.submitButton {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--color-secundaria);
  opacity: .6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: .5s;
  outline: none;
  font-family: var(--font-main);
  text-transform: uppercase;
  letter-spacing: 1px;
}