.settingsContent {
  background: var(--color-background-dark);
  border-radius: var(--radius-default);
  padding: 32px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-text);
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

.settingsContentAccount {
  background: var(--color-background-dark);
  border-radius: var(--radius-default);
  padding: 32px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-text);
  overflow: hidden;
}

.settingsContent::-webkit-scrollbar {
  display: none;
}

.mainHeaderAccountWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 60px;
  border-bottom: 2px solid var(--color-borders);
  width: 100%;
  padding: 20px 20px 50px 20px;
}

.profileImageWrapper {
  position: absolute;
  top: -68px;
  right: -68px;
  width: 250px;
  height: 250px;
  z-index: 999;
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px;
}

.profileImageWrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 400px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.overlayText {
  position: absolute;
  z-index: 2;
  color: var(--color-text-white);
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.profileImageWrapper:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.profileImageWrapper:hover .overlayText {
  opacity: 1;
}

.profileImage {
  object-fit: cover;
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
}

.userInfo,
.userInfoMain {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.userInfo h1 {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  opacity: .7;
}

.userInfo h2 {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-text);
  opacity: 1;
}

.userInfoMain h1 {
  font-size: 28px;
  font-weight: 400;
  opacity: .5;
  color: var(--color-subtext-2);
}

.userInfoMain h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-main);
  text-transform: uppercase;
}

.configsWrapperBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  overflow-y: scroll;
}

.infoGrid {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 44px;
  justify-content: center;
}

.errorText {
  color: var(--color-background-red);
}

.headerAccountWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  border-bottom: 1px solid var(--color-borders);
  width: 100%;
  padding: 20px 24px;
  border-radius: 12px;
}

.editButton {
  width: 100%;
  font-family: var(--font-secundaria);
  letter-spacing: 2px;
  margin-top: 20px;
  background-color: var(--color-filter-attendants);
  color: var(--color-text);
  outline: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 32px;
  cursor: pointer;
  border-radius: 10px;
}

.editButton:hover {
  transition: .4s;
  background-color: var(--color-filter-hover-attendants);
  color: var(--color-text-white);
}

.settingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-subtext-1);
  padding: 24px;
  border-radius: var(--radius-default);
  border-bottom: 1px solid var(--color-background-white);
}

.settingInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 70%;
}

.settingLabel {
  text-wrap: balance;
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 500;
}

.settingDescription {
  font-family: var(--font-secundaria);
  font-size: 16px;
  color: var(--color-subtext-2);
  line-height: 1.5;
  text-wrap: balance;
}

.textInput {
  background: var(--color-background-dark);
  border: 1px solid var(--color-borders);
  border-radius: var(--radius-default);
  padding: 12px 16px;
  font-size: 16px;
  color: var(--color-text);
  width: 200px;
  outline: none;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.formGroup {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formGroup label {
  display: block;
  opacity: .5;
  font-family: var(--font-secundaria);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text);
  font-size: 14px;
}

.passwordInputWrapper button svg {
  fill: var(--color-text);
}

.passwordInputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.formGroup input,
.formGroup select {
  width: 100%;
  appearance: none;
  height: 48px;
  background-color: var(--color-background-white);
  color: var(--color-text);
  padding: 0 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media (max-height: 799.98px) {
    .headerAccountWrapper:nth-child(1) {
        display: none;
    }
}

@media (max-width: 1175.98px) {
  .headerAccountWrapper {
    padding: 38px 24px;
  }

  .userInfo h1 {
    font-size: 14px;
  }

  .userInfo h2 {
    font-size: 20px;
  }

  .userInfoMain h1 {
    font-size: 24px;
  }

  .userInfoMain h2 {
    font-size: 30px;
  }

  .profileImage {
    width: 200px;
    height: 200px;
    right: 0;
  }
}

@media (max-width: 991.98px) {

  .settingsContentAccount,
  .settingsContent {
    padding: 22px;
  }

  .settingRow {
    padding: 16px;
  }

  .settingLabel {
    font-size: 18px;
  }

  .headerAccountWrapper {
    flex-direction: column;
    border: none;
    padding: 12px;
    gap: 40px;
  }

  .configsWrapperBox {
    overflow-y: scroll;
    padding: 0;
    scrollbar-width: none;
  }

  .editButton {
    display: none;
  }

  .settingDescription {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .userInfoMain h1 {
    font-size: 20px;
  }

  .userInfoMain h2 {
    font-size: 26px;
  }

  .mainHeaderAccountWrapper {
    gap: 0;
  }

  .infoGrid {
    justify-content: center;
  }

  .settingsContentAccount {
    padding: 40px 20px 20px 20px;
  }

  .profileImage {
    width: 180px;
    height: 180px;
    right: 0;
    top: 0;
  }
}

@media (max-width: 599.98px) {

  .settingsContentAccount,
  .settingsContent {
    padding: 18px;
  }

  .settingRow {
    align-items: start;
    flex-direction: column;
    gap: 12px;
  }

  .settingInfo {
    width: 100%;
  }

  .mainHeaderAccountWrapper {
    padding: 6px;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 18px;
    padding-right: 60px;
  }

  .profileImage {
    width: 150px;
    height: 150px;
    right: 25px;
    top: 25px;
  }

  .userInfoMain h1 {
    font-size: 16px;
  }

  .userInfoMain h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .userInfo h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .infoGrid {
    height: auto;
    gap: 12px;
  }

  .settingsContentAccount {
    gap: 16px;
  }

  .editButton {
    padding: 14px 24px;
    font-size: 12px;
  }
}

.settingsContent .buttonIcon svg {
  width: 32px;
  height: 32px;
  fill: var(--color-text);
}

.settingsContent .buttonIcon {
  display: none;
  background-color: var(--color-background-white);
  padding: 12px;
  width: fit-content;
  position: fixed;
  top: 96px;
  border-radius: 100px;
  right: 12px;
}

@media (max-height: 899.98px) {
  .settingsContent .buttonIcon {
    display: block;
  }
}