.settings-content {
  background: var(--color-background-dark);
  border-radius: 16px;
  padding: 32px 40px;
  font-size: 1.2rem;
  color: #c1c1c1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.box-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.box-text span {
  font-family: var(--font-main);
  font-size: 24px;
}

.box-text p {
  font-family: var(--font-secundaria);
  font-size: 18px;
  text-wrap: balance;
  line-height: 150%;
}

.image-wrapper {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.wrapper-box-configs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0px;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.name-wrapper h1 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.539);
}

.name-wrapper h2 {
  font-size: 24px;
}

.header-accont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  background-color: rgba(255, 255, 255, 0.030);
  width: 100%;
  padding: 20px 20px;
  border-radius: 12px;
}

.main-header-accont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.030);
  width: 100%;
  padding: 20px 20px;
}

.switch-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.030);
  padding: 18px;
  border-radius: 12px;
}

.switch-description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.558);
}

.image-wrapper img {
  object-fit: cover;
  height: 120px;
  border-radius: 200px;
  width: 120px;
  cursor: pointer;
}

.switch-wrapper input {
  width: 100%;
  background-color: var(--color-background-dark);
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 18px 32px;
}

.save-btn {
  margin-top: 40px;
  background-color: var(--color-secundaria);
  outline: none;
  border: none;
  padding: 18px 32px;
  cursor: pointer;
  border-radius: 10px;
}