.metricCard,
.metricCardSmall {
  width: 100%;
  border-radius: 12px;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 20px 34px;
}

.metricCardSmall {
  flex: 1;
}

.metricCard:hover,
.metricCardSmall:hover {
  transform: scale(0.98);
}

/* --- Header dos Cards --- */
.metricCardHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.metricCardTitles {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 14px;
}

.metricCardTitles h2 {
  font-size: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: var(--font-main);
  text-transform: uppercase;
  margin: 0;
}

.metricCardTitles h2 svg {
  width: 20px;
  height: 20px;
}

.metricCardTitles h3 {
  font-size: 36px;
  font-family: var(--font-main);
  color: var(--color-secundaria);
  text-transform: uppercase;
  margin: 0;
}

/* --- Rodapé dos Cards --- */
.metricCardFooterStat {
  display: flex;
  align-items: center;
  gap: 12px;
}

.metricCardFooterStat span {
  opacity: 0.5;
  font-size: 14px;
}

.metricCardFooterStat strong {
  display: flex;
  gap: 8px;
  border: 1px solid var(--color-filter-attendants);
  background-color: var(--color-filter-attendants);
  align-items: center;
  border-radius: 100px;
  opacity: 0.6;
  font-size: 14px;
  padding: 4px 18px;
}

.metricCardFooterStat strong svg {
  width: 20px;
}

/* --- Componente de Dropdown (Select) --- */
.dropdownSelect {
  position: relative;
}

.dropdownSelectButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: var(--color-background-filter);
  color: var(--color-text-filter);
  cursor: pointer;
  border: none;
  width: 130px;
  height: 42px;
}

.dropdownSelectList {
  min-width: 150px;
  position: absolute;
  top: 52px;
  left: 0;
  background-color: var(--color-background-filter);
  border-radius: 8px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin: 0;
  z-index: 100;
}

.dropdownSelectListItem {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: var(--color-background-filter-opacity);
  color: var(--color-text-filter);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.dropdownSelectListItem:hover {
  opacity: 1;
}

/* --- Estilos de Gráficos --- */
.chartBarPrimary {
  fill: var(--color-primary);
}

.chartBarSecondary {
  fill: var(--color-secundaria);
}

.chartLabelAttendantName {
  fill: var(--color-text-white);
  font-weight: normal;
  font-size: 16px;
  opacity: 0.5;
  font-family: var(--font-secundaria);
}

.chartLabelChatCount {
  fill: var(--color-text);
  font-weight: 600;
  font-size: 16px;
}
.chartLabelChatCount tspan {
  font-family: var(--font-main);
}

.chartLabelConnectionValue tspan {
  fill: var(--color-secundaria);
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-main);
}

/* --- Gráfico Gauge --- */
.gaugeChartContainer {
  width: 100%;
  height: 160px;
  position: relative;
  margin-top: -20px;
}

.gaugeFill {
  fill: var(--color-secundaria);
}

.gaugeBackground {
  fill: var(--color-primary);
}

.gaugeFooter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.gaugeValue {
  font-size: 28px;
  font-weight: bold;
  font-family: var(--font-main);
  color: var(--color-secundaria);
}

.gaugeLabel {
  font-size: 14px;
  color: #666;
}