.settings-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #d6d6e0;
  height: 100%;
}


/* === Breakpoint 3: Tablets em Paisagem / Desktops Pequenos === */
@media (max-width: 991.98px) {
 .settings-container {
  padding: 0;
 }
}