.bubble {
  max-width: 60%;
  padding: 32px 14px;
  border-radius: 12px;
  margin: 8px;
  color: #ffffff;
  font-size: 14px;
  font-family: var(--font-secundaria);
  word-break: break-word;
  overflow-wrap: break-word;
}

.bubble.me {
  background-color: #52f2b73a;
  color: #000;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.bubble.other {
  background-color: #00000032;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}