.messageBubble {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  border-radius: 16px;
  margin: 8px 0;
  color: var(--color-text);
  font-size: 15px;
  font-family: var(--font-secundaria);
  word-break: break-word;
  line-height: 1.5;
  overflow: visible;
}

.messageText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.messageText strong {
  font-weight: bold;
}

.isMe {
  background-color: var(--color-secundaria);
  color: var(--color-text-white);
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.isOther {
  background-color: var(--color-background-messages);
  color: var(--color-text-white);
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.stickerBubble {
  background-color: transparent;
  padding: 0;
}

.messageImage {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.stickerImage {
  width: 140px;
  height: 140px;
}

.messageAudio {
  width: 100%;
  max-width: 100%;
  min-width: 270px;
}

.documentContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.documentIcon {
  font-size: 1.8rem;
}

.documentLink {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.documentLink:hover {
  opacity: 0.8;
}

.quotedMessage {
  border-left: 3px solid var(--color-text-white);
  padding: 12px 16px;
  margin: 12px 0;
  font-size: 0.85em;
  color: var(--color-text-white);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.quotedSender {
  display: block;
  color: var(--color-text-white);
  margin-bottom: 2px;
}

.quotedText {
  font-style: italic;
  color: var(--color-text-white);
}

.time {
  text-align: end;
  font-size: 12px;
}

.isExcluded {
  background-color: var(--color-background-dark);
}

@media (max-width: 599.98px) {
  .messageAudio {
    min-width: 190px;
  }
}

@media (max-width: 399.98px) {
  .messageAudio {
    min-width: 140px;
  }

  .messageBubble {
    max-width: 70%;
  }
}


/* MessageBubble.module.css */

.audioContainer {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.audioAvatar {
  width: 60px;
  height: 60px;
  margin-left: 16px;
  border-radius: 100%;
  object-fit: cover;
}

.audioButton svg {
  color: var(--color-text);
  width: 100%;
}

.audioButton {
  cursor: pointer;
  background: none;
  border: none;
  width: 68px;
}

/* Container para a waveform e o cursor */
.waveformContainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Onde o WaveSurfer desenha a onda */
.audioWaveform {
  width: 100%;
}

.audioWaveHeight {
  height: 40px;
  /* altura controlável */
}

/* Estilo para o cursor redondo */
.customCursor {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #4299E1;
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
}

.messageTime {
  color: #8696a0;
  font-size: 0.75rem
}

.waveWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 130px;
}

.timeRow {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.mediaOverlay {
  position: fixed;
  inset: 0;
  background: #08090F;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.2s linear;
}

.mediaContainer {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  /* permite scroll se imagem for maior que viewport */
  display: flex;
  align-items: start;
  justify-content: center;
}

.mediaFull {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 18px;
  border: none;
}

.closeButton svg {
  fill: var(--color-text);
  cursor: pointer;
}

.messageImage {
  cursor: pointer;
}



.documentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: rgba(255, 255, 255, 0.04);
  padding: 10px 12px;
  border-radius: 12px;
}

.documentLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-text);
}

.documentBody {
  flex: 1 1 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.documentName {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.documentMeta {
  font-size: 12px;
  color: var(--color-text-muted, #9a9a9a);
}

.documentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 32px;
  padding-bottom: 6px;
}