.messageBubble {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  border-radius: 16px;
  margin: 8px 0;
  color: var(--color-text);
  font-size: 15px;
  font-family: var(--font-secundaria);
  word-break: break-word;
  line-height: 1.5;
  overflow: visible;
}

.messageText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.messageText strong {
  font-weight: bold;
}

.isMe {
  background-color: var(--color-secundaria);
  color: var(--color-text-white);
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.isOther {
  background-color: var(--color-background-messages);
  color: var(--color-text-white);
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.stickerBubble {
  background-color: transparent;
  padding: 0;
}

.messageImage {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.stickerImage {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.messageAudio {
  width:  100%;
  max-width: 100%;
  min-width: 270px;
}

.documentContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.documentIcon {
  font-size: 1.8rem;
}

.documentLink {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.documentLink:hover {
  opacity: 0.8;
}

.quotedMessage {
  border-left: 3px solid var(--color-text-white);
  padding: 12px 16px;
  margin: 12px 0;
  font-size: 0.85em;
  color: var(--color-text-white);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.quotedSender {
  display: block;
  color: var(--color-text-white);
  margin-bottom: 2px;
}

.quotedText {
  font-style: italic;
  color: var(--color-text-white);
}

.time {
  text-align: end;
  font-size: 12px;
}

.isExcluded {
  background-color: var(--color-background-dark);
}