.contact-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 12px;
  border-bottom: 1px solid #ffffff6e;
  border-radius: 10px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact-texts strong {
  display: block;
  font-size: 14px;
  font-family: var(--font-main);
  color: #ffffff;
}

.contact-texts p {
  font-family: var(--font-secundaria);
  font-size: 12px;
  color: #aaa;
  margin: 2px 0 0;
}
