.card {
  background-color: var(--color-primary);
  border-radius: var(--radius-default);
  padding: 40px 24px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  gap: 26px;
}

.card:hover {
  transform: scale(0.96);
}

.icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -14px;
  right: -14px;
  fill: white;
}

.description {
  font-size: 14px;
  text-wrap: balance;
  flex: 1;
  color: var(--color-text-white);
  opacity: .5;
  line-height: 1.5;
}

.buttonCard {
  border: none;
  outline: none;
  padding: 12px 24px;
  border-radius: var(--radius-default);
  background-color: var(--color-background-row-hover);
  color: var(--color-text-white);
  cursor: pointer;
  transition: .4s;
}

.buttonCard:hover {
  transition: .4s;
  background-color: var(--color-background-dark);
  color: var(--color-text);
}

.title {
  display: flex;
  font-size: 22px;
  color: var(--color-text-white);
  font-family: var(--font-main);
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label,
.tipo {
  display: inline;
}

@media (max-height: 799.98px) {
  .description {
    display: none;
  }

  .card {
    min-height: 0;
  }
}

@media (max-height: 699.98px) {
  .buttonCard {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .title {
    flex-direction: column;
    gap: 4px;
  }

  .label,
  .tipo {
    display: block;
  }
}

@media (max-width: 799.98px) {
  .card {
    padding: 24px;
    min-height: 280px;
  }
}

@media (max-width: 599.98px) {
  .card {
    min-height: 0;
  }

  .buttonCard,
  .description {
    display: none;
  }
}

@media (max-width: 499.98px) {
  .card {
    padding: 22px;
    gap: 12px;
  }

  .title {
    gap: 0;
  }
}