.agent-card {
  background-color: var(--color-main);
  border-radius: 12px;
  padding: 50px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  transition: .4s;
  cursor: pointer;
}

.agent-card:hover {
  transform: scale(.9);
  transition: .4s;
}

.agent-card h4 {
  font-size: 22px;
  font-family: var(--font-main);
}

.description {
  font-size: 14px;
  color: #ffffffad;
  line-height: 1.5;
}
