.agent-card {
  background-color: var(--color-main);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description {
  font-size: 14px;
  color: #ffffffad;
  line-height: 1.5;
}
