.chat-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  background-color: var(--color-background);
}

.chat-input-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.chat-input-wrapper button {
  border: none;
  outline: none;
  background: none;
}

.box-chat-input {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.toggle-ia-btn {
  background-color: var(--color-background);
  border-radius: 15px;
  border: none;
  min-width: 125px;
  cursor: pointer;
}

.toggle-ia-btn:hover {
  background-color: var(--color-secundaria);
  transition: .5s;
}




@media (max-width: 599.98px) {
  .box-chat-input {
    flex-direction: column;
  }

  .toggle-ia-btn {
    min-width: none;
    height: 40px;
  }
}