.layout-container {
  padding: 0;
  display: flex;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1e1e2f; 
}

.content-area {
  flex-grow: 1;
  padding: 80px; /* Espaçamento interno da área de conteúdo */
  overflow-y: auto; /* Para rolagem se o conteúdo for grande */
}

.content-area > :first-child > :first-child {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-area > :first-child > :first-child h2{
  font-family: var(--font-main);
  font-size: 40px;
}

.content-area > :first-child > :first-child h3{
  font-size: 24px;
  opacity: .8;
}

/* === Breakpoint 1: Telas Grandes (ex: Laptops Maiores) === */
@media (max-width: 1299.98px) {
  .content-area {
    padding: 80px;
  }
}

/* === Breakpoint 2: Desktops Padrão === */
@media (max-width: 1199.98px) {
  .content-area {
    padding: 25px;
  }
}

/* === Breakpoint 3: Tablets em Paisagem / Desktops Pequenos === */
@media (max-width: 991.98px) {
  .content-area {
    padding: 25px;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .content-area {
    padding: 25px;
  }
}

/* === Breakpoint 5: Smartphones === */
@media (max-width: 599.98px) {
  .content-area {
    padding: 25px;
  }
}
