.layout-container {
  padding: 16px 0;
  display: flex;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1e1e2f; 
  color: #e0e0e0; 
}