.layout-container {
  padding: 0;
  display: flex;
  height: 100vh;
  background: radial-gradient(300.92% 96.88% at 97.01% 12.45%, var(--Color, rgba(13, 13, 13, 0.80)) 0%, var(--Color-4, rgba(14, 17, 38, 0.80)) 100%), url("./assets/bg.png") lightgray 50% / cover no-repeat;
}

.wrapper-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2px;
}

.border {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 95%;
  border-radius: 100px;
}

.content-area {
  width: 80%;
  padding: 20px 40px; 
  overflow-y: auto;
  scrollbar-width: none;
}

.content-area > div> :first-child > :first-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-area > div > :first-child > :first-child h2 {
  font-family: var(--font-main);
  font-size: 40px;
}

.content-area > div > :first-child > :first-child h3 {
  font-size: 24px;
  opacity: 0.8;
  text-wrap: balance
}

/* === Breakpoint 1: Telas Grandes (ex: Laptops Maiores) === */
@media (max-width: 1299.98px) {
  .content-area {
    padding: 20px 32px;
  }
}

/* === Breakpoint 2: Desktops Padrão === */
@media (max-width: 1199.98px) {
  .content-area {
    padding: 20px 32px;
  }
  .content-area > div > :first-child > :first-child h2 {
    font-size: 32px;
  }

  .content-area > div > :first-child > :first-child h3 {
    font-size: 20px;
  }
}

/* === Breakpoint 3: Tablets em Paisagem / Desktops Pequenos === */
@media (max-width: 991.98px) {
  .content-area {
    padding: 12px 24px;
  }
  .border {
    display: none;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .content-area {
    padding: 12px 20px;
    width: 80%;
  }
  .content-area > div > :first-child > :first-child h2 {
    font-size: 26px;
  }

  .content-area > div > :first-child > :first-child h3 {
    font-size: 18px;
  }
}

/* === Breakpoint 5: Smartphones === */
@media (max-width: 599.98px) {
  .content-area {
    padding: 8px 16px;
  }
}
