.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 0;
  height: 100%;
  box-sizing: border-box;
}

.containerDashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 0;
  height: 100%;
  box-sizing: border-box;
}

.containerHeader {
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.containerRowSmall {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex: 1;
}

.containerContent {
  background-color: var(--color-background-dark);
  display: flex;
  padding: 32px;
  gap: 32px;
  flex-direction: column;
  /* Remova a altura fixa e adicione flex: 1 para ocupar o espaço restante */
  flex: 1;
  border-radius: 16px;
  /* Adicionado para conter a tabela que vai ter scroll */
  overflow: hidden;
}

.containerBottom {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.containerBottom span {
  font-size: 14px;
  text-transform: uppercase;
}

.buttonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-filter-attendants);
  padding: 26px 0;
  border-radius: 12px;
  color: var(--color-text);
  transition: .5s;
  cursor: pointer;
}

.buttonBase:focus {
  outline: none;
}

.containerBottom button:hover {
  transition: .5s;
  color: var(--color-text-white);
  background-color: var(--color-filter-hover-attendants);
}

.activeFilter {
  background-color: var(--color-filter-hover-attendants);
}

.containerColumnLarge {
  height: 350px;
  width: 100%;
  border-radius: 12px;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.containerColumnSmall {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.containerColumnLarge:hover, .containerColumnSmall:hover {
  transform: scale(.95);
  transition: .3s;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerTitles h2 {
  font-family: var(--font-main);
  font-size: 40px;
  color: var(--color-text);
}

.headerTitles h3 {
  font-size: 24px;
  color: var(--color-text);
  line-height: 35px;
  opacity: 0.6;
  text-wrap: balance
}

.cashbackWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 80px !important;
}

.cashbackWrapper h2 {
  font-size: 32px;
  text-wrap: balance;
  text-align: center;
  line-height: 50px;
  color: var(--color-text);
}

.agentsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-background-dark);
  flex: 1;
  border-radius: 16px;
  padding: 20px;
}

.agentsWrapper h2 {
  color: var(--color-text);
  font-size: 18px;
}

.agentsWrapper h3 {
  color: var(--color-text);
  font-size: 18px;
}

.cashbackWrapper {
  background-color: var(--color-background-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  padding: 20px;
}

.cashbackWrapper h2 {
  font-size: 18px;
}

.agentsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.wrapperIconsAjuda {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.boxIcon svg {
  fill: white;
  width: 1005;
  height: 100%;
}

.boxIcon {
  background-color: var(--color-secundaria);
  padding: 20px 32px;
  border-radius: 20px;
  height: 80px;
  border: none;
  cursor: pointer;
  transition: .6s;
}

.boxIcon:hover {
  transform: scale(0.90);
  transition: .6s;
}

.helpChat {
  background-color: var(--color-background-dark);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: auto;
  scrollbar-width: none;
}

.helpMessage {
  width: 60%;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 0.95rem;
  color: #c5c5d2;
  white-space: pre-wrap;
}

.helpMessage.bot {
  background-color: #52f2b724;
  align-self: flex-start;
}

.helpMessage.user {
  background-color: #52f2b769;
  align-self: flex-end;
}

.conversationsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 12px;
}

/* === Breakpoint 2: Desktops Padrão === */
@media (max-width: 1199.98px) {
  .headerTitles h2 {
    font-size: 32px;
  }

  .help-container {
    height: 90vh;
  }

  .headerTitles h3 {
    font-size: 20px;
  }

  .conversationsContainer {
    gap: 22px;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .headerTitles h2 {
    font-size: 26px;
  }

  .conversationsContainer {
    gap: 12px;
    flex-direction: column;
  }

  .help-message {
    width: 80%;
  }

  .containerHeader {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .headerTitles h3 {
    font-size: 18px;
  }
}