.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

.containerHeader {
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.containerColumnLarge, .containerColumnSmall {
  height: 350px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--color-background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}


.headerTitles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerTitles h2 {
  font-family: var(--font-main);
  font-size: 40px;
}

.headerTitles h3 {
  font-size: 24px;
  color: var(--color-subtext-2);
  line-height: 35px;
  opacity: 0.8;
  text-wrap: balance
}

.cashbackWrapper  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 80px !important;
}

.cashbackWrapper  h2 {
  font-size: 32px;
  text-wrap: balance;
  text-align: center;
  line-height: 50px;
}

.agentsWrapper, .cashbackWrapper {
  background-color: var(--color-background-dark);
  height: 100%;
  border-radius: 16px;
  padding: 20px;
}

.agentsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.wrapperIconsAjuda {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.boxIcon svg {
  fill: white;
  width: 1005;
  height: 100%;
}

.boxIcon {
  background-color: var(--color-secundaria);
  padding: 20px 32px;
  border-radius: 20px;
  height: 80px;
  border: none;
  cursor: pointer;
  transition: .6s;
}

.boxIcon:hover {
  transform: scale(0.90);
  transition: .6s;
}

.helpChat {
  background-color: var(--color-background-dark);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: auto;
  scrollbar-width: none;
}

.helpMessage {
  width: 60%;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 0.95rem;
  color: #c5c5d2;
  white-space: pre-wrap;
}

.helpMessage.bot {
  background-color: #52f2b724;
  align-self: flex-start;
}

.helpMessage.user {
  background-color: #52f2b769;
  align-self: flex-end;
}

.conversationsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 32px;
}

/* === Breakpoint 2: Desktops Padrão === */
@media (max-width: 1199.98px) {
  .headerTitles h2 {
    font-size: 32px;
  }

  .help-container {
    height: 90vh;
  }

  .headerTitles h3 {
    font-size: 20px;
  }

  .conversationsContainer {
    gap: 22px;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .headerTitles h2 {
    font-size: 26px;
  }

  .conversationsContainer {
    gap: 12px;
    flex-direction: column;
  }

  .help-message {
    width: 80%;
  }

  .containerHeader {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .headerTitles h3 {
    font-size: 18px;
  }
}