.generic-table {
  background-color: var(--color-main);
  padding: 72px 48px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.table-header {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ffffff82;
}
.table-header div,
.connection-row div,
.attendant-row div {
  flex-grow: 1;
  max-width: 150px;
  min-width: 100px;
  text-align: start;
}
.table-header,
.connection-row,
.attendant-row {
  display: flex;
  height: 50px;
  justify-content: start;
  align-items: center;
}
.attendant-row .email {
  color: #8a8fa3;
}
.agent-select {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}
.status-chip {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.status-chip.active {
  background-color: #55ffc9;
  color: #0f0f0f;
}
.status-chip.inactive {
  background-color: #ff5555;
  color: #fff;
}

.delete-button {
  font-family: var(--font-secundaria);
  background-color: white;
  color: black;
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 10px 32px;
  transition: .6s;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff5555;
  color: white;
}

/* === Breakpoint 3: Tablets em Paisagem / Desktops Pequenos === */
@media (max-width: 1038.98px) {
  .table-header div,
  .connection-row div,
  .attendant-row div {
    width: 150px;
  }
  .generic-table {
    padding: 60px 24px;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .table-header {
    overflow: hidden;
    overflow-x: auto;
  }
  .table-header,
  .connection-row,
  .attendant-row {
    overflow: hidden;
    overflow-x: auto;
    gap: 24px;
    scrollbar-width: none;
  }
  .generic-table {
    padding: 40px 24px;
  }
}

/* === Breakpoint 5: Smartphones === */
@media (max-width: 599.98px) {
}
