.generic-table {
  background-color: var(--color-background-dark);
  padding: 72px 48px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.table-header,
.connection-row,
.attendant-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.connection-row,
.attendant-row {
  background-color: var(--color-main);
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}


.connection-row:hover,
.attendant-row:hover {
  background-color: #1b214acb;
  transition: .2s;
}

.table-header div,
.connection-row div,
.attendant-row div {
  text-align: start;
}

.table-header {
  padding: 0px 0px 18px 0px;
  font-family: var(--font-main);
  font-size: 1.6em;
}

.attendant-row .email {
  color: #8a8fa3;
}

.agent-select {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}

.status-chip {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  line-height: normal;
}

.status-chip.active {
  background-color: var(--color-secundaria);
  color: white;
  width: fit-content;
  padding: 10px 32px;
  font-size: .8em;
}

.status-chip.inactive {
  background-color: #ff5555;
  width: fit-content;
  color: #fff;
  padding: 10px 32px;
  font-size: .8em;
}

.delete-button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 16px;
  outline: none;
  padding: 4px 8px;
  transition: .6s;
  cursor: pointer;
}

.delete-button:hover, .edit-button:hover {
  transition: .6s;
  background-color: var(--color-background-dark);
}

.edit-button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 16px;
  outline: none;
  padding: 4px 8px;
  transition: .6s;
  cursor: pointer;
}

.edit-button svg,  .delete-button svg {
  transition: .6s;
  fill: white;
}

.box-table-nome {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Responsividade */
@media (max-width: 991.98px) {
  .generic-table {
    background-color: unset;
    align-items: start;
    padding: 16px 0;
  }

  .table-header {
    display: none;
  }

  .connection-row,
  .attendant-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: fit-content;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--color-main);
  }

  .status-chip.active {
    padding: 8px 80px;
  }

  .status-chip.inactive {
    padding: 8px 80px;
  }

  .connection-row div,
  .attendant-row div {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 0.9rem;
  }
}