.tableRow {
  display: grid;
  align-items: center;
  gap: 16px;
  padding: 14px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-text);
  transition: background-color 0.2s, transform 0.2s;
}

.tableRow:hover {
  background-color: var(--color-background-row-hover);
}

.columnsTable {
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.statusChip {
  display: block;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 13px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.statusChip.active {
  background-color: var(--color-secundaria);
  color: var(--color-text-white);
}

.statusChip.inactive {
  background-color: var(--color-background-red);
  color: var(--color-text-white);
}

.actionCell {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.actionButtonEdit,
.actionButtonDelete {
  background-color: var(--color-background-row-hover);
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.actionButtonDelete svg,
.actionButtonEdit svg {
  width: 28px;
  height: 28px;
  fill: #a0a0a0;
  transition: fill 0.2s;
}

.actionButtonEdit:hover {
  background-color: var(--color-background-tags-hover);
}

.actionButtonDelete:hover {
  background-color: var(--color-background-red);
}

.actionButtonEdit:hover svg,
.actionButtonDelete:hover svg {
  fill: #fff;
}

.actionButtonEdit:focus-visible,
.actionButtonDelete:focus-visible {
  outline: 2px solid var(--color-primary);
}

.statusWithActions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.statusChipDesktop {
  display: block;
}

.statusChipMobile {
  display: none;
}

.inlineActions {
  display: none;
  gap: 8px;
}

@media (max-width: 991.98px) {

  .statusChipDesktop {
    display: none;
  }

  .statusChipMobile {
    display: block;
  }

  .inlineActions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .actionCell {
    display: none;
  }

  .statusWithActions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--color-background-row-hover);
  }

  .columnsTable {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .tableRow>div::before {
    content: attr(data-label);
    font-weight: 400;
    color: var(--color-text);
  }

  .statusChip {
    padding: 8px 34px;
  }
}

@media (max-width: 499.98px) {
  .statusWithActions::before {
    display: none;
  }
}