.tabs-header {
  display: flex;
  flex-direction: row !important;
  gap: 24px;
  background-color: var(--color-background-dark );
  padding: 12px 20px;
  border-radius: 16px;
}
.tab-item {
  color: #c7c7d4;
  padding: 12px 16px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.tab-item.active {
  background: #0fffc0;
  color: #0f0f0f;
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .tabs-header {
    gap: 0;
  }
}

/* === Breakpoint 5: Smartphones === */
@media (max-width: 599.98px) {
  .tabs-header {
    overflow: hidden;
    overflow-x: auto;
  }
}
