.containerCountConvites {
    height: 100%;
    width: 300px;
    background-color: var(--color-background-dark);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.containerCountConvites h2 {
  font-size: 15px;
  opacity: .6;
  color: var(--color-text);
}

.containerCountConvites p {
  font-size: 20px;
  font-family: var(--font-main);
  text-transform: uppercase;
  color: var(--color-text);
}

.containerLink {
    width: 100%;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.containerLink h4 {
    font-size: 30px;
    font-family: var(--font-main);
}

.boxLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background: var(--color-background-white);
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 8px;
}

.boxLink span {
  width: 100%;
}

.boxLink button {
  background: var(--color-secundaria);
  color: var(--color-text-white);
  border: none;
  font-family: var(--font-main);
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.boxLink svg {
    width: 40px;
}

.containerRewards {
    display: flex;
    gap: 12px;
    flex: 1;
}

.boxReward {
    height: 100%;
    position: relative;
    border-radius: 14px;
    gap: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
}

.boxRewardLocked h4,
.boxRewardUnlock h4 {
    font-size: 34px;
    font-family: var(--font-main);
    text-transform: uppercase;
}


.boxRewardUnlock {
    background-color: var(--color-primary);
    color: var(--color-text-white);
}

.boxRewardLocked {
    background-color: var(--color-background-white);
    color: var(--color-text);
}

.rowContainerRewards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rowContainerRewards h2 {
    font-size: 20px;
    font-family: var(--font-main);
    text-transform: uppercase;
    background-color: var(--color-background-white);
    padding: 8px 12px;
    border-radius: 10px;
}

.rowContainerRewards svg {
    width: 40px;
    height: 45px;
}

.bodyContainerRewards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-top: 18px;
    flex: 1;
}

.rowBodyContainerRewards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.rowBodyContainerRewards span {
    opacity: .4;
    font-size: 12px;
}

.containerLiRewards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
    width: 100%;
    text-align: start;
}

.rowLiRewards {
    display: flex;
    gap: 6px;
    font-family: var(--font-main);
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
}

.rowLiRewards svg {
    width: 24px;
    color: var(--color-secundaria);
}

.footerContainerRewards {
    font-size: 1p6x;
    font-family: var(--font-secundaria);
    background-color: var(--color-background-white);
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: var(--color-text-white);
    width: 100%;
}

.progressBar {
    position: relative;
    height: 22px;
    background: var(--color-background-row-hover);
    border-radius: 60px;
    margin: 20px 0;
}

.progressFillReward {
    background-color: var(--color-primary);
    height: 100%;
    border-radius: 200px;
}

.progressCheckpoint {
    position: absolute;
    top: -10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: var(--color-text-white);
    border: 2px solid #9ca3af;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-main);
    line-height: 20px;
    transform: translateX(-50%);
    color: var(--color-text-black);
    outline: 2px solid var(--color-background-messages);
    outline-offset: -10px;
}

.progressCheckpoint.completed {
    background: var(--color-progress-checkpoint);
    border: none;
    cursor: pointer;
    outline: 2px solid white;
    outline-offset: -10px;
    color: var(--color-text-white);
}