.attendants-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.attendants-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.attendants-header h2 {
  font-size: 40px;
  font-family: var(--font-main);
}

.attendants-header p {
  font-size: 24px;
  color: #ffffff98;
}

.attendants-table {
  background-color: var(--color-main);
  border-radius: 12px;
  padding: 72px 48px;
}

.attendants-header-row {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #ffffff82;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.attendants-header-row  span{
  display: inline-block;
  min-width: 200px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

