.sidebar {
  width: 20%;
  padding: 36px 26px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-sidebar);
  border-radius: 0px 15px 15px 0px;
}
.box-logo svg {
  width: 90%;
}
.principal-menu,
.suporte-menu {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.principal-menu h4,
.suporte-menu h4 {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-main);
  font-size: 24px;
  padding-bottom: 20px;
}
.MenuItem {
  display: flex;
  gap: 10px;
  padding: 12px 12px;
  align-items: center;
  border-radius: 14px;
  transition: 0.3s background-color;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-family: var(--font-secundaria);
}
.MenuItem:focus,
MenuItem.active-link:focus {
  outline: 1px solid rgba(255, 255, 255, 0.04)
}
.MenuImage {
  display: flex;
  gap: 10px;
  padding: 4px 4px;
  align-items: center;
}
.MenuImage img {
  object-fit: cover;
}
.MenuItem:hover,
.MenuItem.active-link {
  background-color: var(--color-background-menuItem);
  outline: 1px solid rgba(255, 255, 255, 0.15);
  color: #ffffff;
}
.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column-info {
  gap: 8px;
  display: flex;
}
.user-info {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.user-name {
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  font-family: var(--font-main);
}
.user-email {
  font-size: 15px;
  font-family: var(--font-main);
  color: #ffffff88;
}
@media (max-width: 1399.98px) {
  .user-menu {
    display: none;
  }

  .box-logo {
    margin-bottom: 0;
  }

  .MenuItem {
    gap: 8px;
    padding: 10px 10px;
    border-radius: 14px;
    font-size: 18px;
  }

  .principal-menu h4,
  .suporte-menu h4 {
    font-size: 18px;
    padding-bottom: 12px;
  }
}