.sidebarclosed {
  display: flex;
  width: 10%;
  padding: 40px 12px;
  background-color: var(--color-background-sidebar);
  backdrop-filter: blur(10px);
  border-radius: 0 20px 20px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebarclosed .MenuItem {
  justify-content: center;
}

.itens-list-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MenuItem:focus,
MenuItem.active-link:focus {
  outline: 1px solid rgba(255, 255, 255, 0.1)
}

@media (max-width: 1175.98px) {
  .sidebarclosed {
    width: 10%;
  }
}

@media (max-width: 991.98px) {
  .sidebarclosed {
    width: 12%;
  }

  .sidebarclosed-is-open {
    opacity: 0;
    z-index: 10;
    transition: .3s;
  }

  .menu-principal-closed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    gap: 32px;

  }

  .menu-principal-closed div {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .menu-principal-closed svg {
    width: 100%;
    height: 30px;
  }
}

@media (max-width: 767.98px) {
  .sidebarclosed {
    width: 12%;
  }
  .menu-principal-closed svg {
    width: 100%;
    height: 24px;
  }
  .MenuItem {
    padding: 0;
  }
}

@media (max-width: 599.98px) {
  .sidebarclosed {
    width: 19%;
  }

  .menu-principal-closed svg {
    height: 22px;
  }
  
}