.sidebar {
  width: 450px; 
  padding: 26px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3a3b4f;
}

.logo {
  margin-bottom: 12px;
}

.menu-principal, .suporte-menu {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.menu-principal p, .suporte-menu p {
  color: rgba(255, 255, 255, .5);
  font-family: var(--font-main);
  font-size: 24px;
  padding-bottom: 20px;
}

.menu-principal div, .suporte-menu div {
  display: flex;
  gap: 10px;
  padding: 12px 12px;
  align-items: center;
  border-radius: 14px;
}

.menu-principal a, .suporte-menu a {
  display: block;
  color: #ffffff; /* Cor dos links */
  text-decoration: none;
  border-radius: 6px;
  font-size: 22px;
  font-family: var(--font-secundaria);
}

.menu-principal div:hover, .suporte-menu div:hover, .menu-principal div.active-link, .suporte-menu div.active-link {
  background-color: rgba(27, 33, 74, 0.7);
  outline: 1px solid rgba(255, 255, 255, .15);
  color: #ffffff;
}

.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-menu div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

div.user-info {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.user-name {
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  font-family: var(--font-main);
}

.user-email {
  font-size: 15px;
  font-family: var(--font-main);
  color: #ffffffa8;
}



















.content-area {
  flex-grow: 1;
  padding: 40px; /* Espaçamento interno da área de conteúdo */
  overflow-y: auto; /* Para rolagem se o conteúdo for grande */
}

/* Estilos para o conteúdo principal das páginas */
.content-area h1 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

.content-area p {
  font-size: 16px;
  color: #c0c0d8;
  line-height: 1.6;
}