.container {
  display: flex;
  gap: 8px;
}

.button {
  padding: 12px 24px;
  border-radius: 14px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  border: 3px solid var(--color-borders);
  outline: none;
  transition: 0.2s ease;
  color: var(--color-text);
  opacity: .7;
  font-family: var(--font-secundaria);
}

.active {
  color: var(--color-text-white);
  opacity: 1;
  border: none;
  background-color: var(--color-secundaria);
}
