.conversations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 32px;
}

@media (max-width: 1111.98px) {
  .conversations-container {
    gap: 22px;
  }
}

@media (max-width: 991.98px) {
  .conversations-container {
    gap: 12px;
    flex-direction: column;
  }
}