.wrapper-button {
  display: flex;
  justify-content: end;
}

.add-button {
  background-color: #52F2B8;
  color: #202020;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.add-button:hover {
  background-color: #00c69f;
}


/* === Breakpoint 3: Tablets em Paisagem / Desktops Pequenos === */
@media (max-width: 991.98px) {
  .wrapper-button {
    justify-content: start;
  }
  .add-button {
    font-size: 14px;
  }
}
