.chartBarPrimary {
  fill: var(--color-primary);
}

.chartBarSecondary {
  fill: var(--color-secundaria);
}

.chartLabelAttendantName {
  fill: var(--color-text-white);
  font-weight: normal;
  font-size: 16px;
  opacity: 0.5;
  font-family: var(--font-secundaria);
}

.chartLabelChatCount {
  fill: var(--color-text);
  font-weight: 600;
  font-size: 16px;
}

.chartLabelChatCount tspan {
  font-family: var(--font-main);
}

@media (max-width: 595.98px) {
  .chartLabelAttendantName {
    font-size: 12px;
  }
}