.conversasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px 0 12px 0;
  height: 100%;
  box-sizing: border-box;
}

.pageHeader {
  display: flex;
  text-wrap: balance;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.pageHeaderTitles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageHeaderTitles h2 {
  font-family: var(--font-main);
  font-size: 40px;
  color: var(--color-text);
  margin: 0;
}

.pageHeaderTitles h3 {
  font-size: 24px;
  color: var(--color-text);
  line-height: 1.5;
  opacity: 0.6;
  text-wrap: balance;
  margin: 0;
}

.pageContent {
  background-color: var(--color-background-dark);
  display: flex;
  padding: 32px;
  gap: 32px;
  flex-direction: column;
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
}

.pageRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pageRowVariant {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filterControls {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: auto;
}

.filterControls .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-filter-attendants);
  padding: 24px 0;
  border-radius: 12px;
  color: var(--color-text);
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.filterControls .button:hover {
  color: var(--color-text-white);
  background-color: var(--color-filter-hover-attendants);
}

.filterControls .buttonActive {
  color: var(--color-text-white);
  background-color: var(--color-filter-hover-attendants);
}

.chartContainer {
  width: 380px;
  height: 200px;
  overflow-x: auto;
  scrollbar-width: none;
}

@media (max-width: 1399.98px) {
  .pageHeaderTitles h2 {
    font-size: 32px;
  }

  .pageHeaderTitles h3 {
    font-size: 20px;
  }
}

@media (max-width: 1211.98px) {
  .conversasContainer {
    gap: 20px;
  }
}

@media (max-width: 1199.98px) {
  .pageHeaderTitles h2 {
    font-size: 28px;
  }

  .pageHeaderTitles h3 {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .conversasContainer {
    flex-direction: column;
  }

  .pageRowVariant {
    padding-bottom: 32px;
    gap: 32px;
    flex-direction: column;
  }

  .pageRow {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 599.98px) {
  .chartContainer {
    width: 275px;
  }

  .pageContent {
    padding: 20px;
    gap: 32px;
  }

  .filterControls {
    flex-direction: column;
  }

  .pageHeaderTitles {
    gap: 8px;
  }

  .pageHeaderTitles h3 {
    font-size: 14px;
    line-height: 17px;
  }

  .pageHeaderTitles h2 {
    font-size: 24px;
  }

  .pageHeader {
    flex-direction: column;
    align-items: center;

    text-align: center;
    gap: 8px;
  }

  .pageContainer {
    gap: 16px;
    padding: 8px 0 0 0;
  }

  .filterControls .button {
    font-size: 12px;
    padding: 16px 0;
  }
}

/* ========================== */

.InputForm {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  width: 100%;
  border: none;
  outline: none;
  height: 60%;
  padding: 0 16px;
  overflow: hidden;
  background-color: var(--color-background-white);
  color: var(--color-text-table);
}

.wrapperModalFilter {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapperFilterItens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px;
  width: 100%;
}

.filterItens {
  border-radius: 12px;
  background-color: var(--color-background-white);
  height: 100px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  text-align: center;
  cursor: pointer;
}

.filterItens:hover {
  background-color: var(--color-secundaria);
  transition: .2s;
}