.help-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 94vh;
  gap: 32px;
}


.help-chat {
  background-color: var(--color-background-input);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: auto;
  scrollbar-width: none;
}

.help-message {
  width: 60%;
  padding: 12px 18px;
  border-radius: 12px;
  font-size: 0.95rem;
  color: #c5c5d2;
  white-space: pre-wrap;
}

.help-message.bot {
  background-color: #52f2b724;
  align-self: flex-start;
}

.help-message.user {
  background-color: #52f2b769;
  align-self: flex-end;
}




/* === Breakpoint 2: Desktops Padrão === */
@media (max-width: 1199.98px) {
  .help-container {
    height: 90vh;
  }
}

/* === Breakpoint 4: Tablets em Retrato === */
@media (max-width: 767.98px) {
  .help-message {
    width: 80%;
  }
}
