.containerLink {
  width: 100%;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.containerLink h4 {
  font-size: 30px;
  font-family: var(--font-main);
}

.containerLink p {
  line-height: 20px;
  text-wrap: balance;
}

.boxLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  background: var(--color-background-white);
  border-radius: 8px;
  padding: 18px 12px;
  margin-top: 8px;
}

.boxLink span {
  width: 100%;
  color: var(--color-background-red);
}

.boxLink button {
  background: var(--color-secundaria);
  color: var(--color-text-white);
  border: none;
  font-family: var(--font-main);
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.boxLink svg {
  width: 40px;
}

@media (max-width: 1175.98px) {
  .boxLink span {
    text-align: center;
    text-wrap: balance;
    line-height: 18px;
    font-size: 12px;
  }
}

@media (max-width: 599.98px) {
  .boxLink span {
    line-height: 16px;
    font-size: 10px;
  }

  .boxLink {
    padding: 12px;
  }

  .containerLink p {
    font-size: 12px;
  }
}