.connections-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  height: 100%;
}
.connections-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



